<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Admin Panel</title>
</head>
<body>
    <h2>Admin Dashboard</h2>
    <form action="/admin/dashboard/add-products">
        <button>Add Product</button>
    </form>
    <form action="/admin/dashboard/products" method="get">

        <button>Products</button><br>
    </form>
    <form action="/admin/dashboard/confirmOrders" method="get">

        <button>Orders</button><br>
    </form>
</body>
</html>