<html>
    <head>
        <title>
            Dashboard
        </title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>
    <body>
        <li><a href="/logout">LogOut</a></li>
        <h1>Hi <%=user %></h1>
        <a href="/products">Products</a>
        <a href="/admin/add-products">Add Products</a>
        <a href="/cart">Cart</a>
        <a href="/orders">Orders</a>
    </body>
</html>