<html>
    <head>
        <title>
            Home page
        </title>
        <link rel="stylesheet" href="script.js">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>
    <body>
        <h1>Register</h1>
        <ul>
            <% if(typeof errors !='undefined') {%>
                <% errors.forEach(error => {%>
                    <li><%=error.message%></li>
                <%})%>
            <%}%>
        </ul>

        <ul>
            <% if(messages.success_msg){ %>
                <li><%=messages.success_msg %></li>
            <% } %>
        </ul>
        <form action="/register" method="POST">
            <ul>
            <li style="list-style: none;"><label for="name">Name :</label><input type="text" id="name" name="name" placeholder="Enter Your name"></li>
            <li style="list-style: none;"><input type="text" id="email" name="email" placeholder="Enter email"></li>
            <li style="list-style: none;"><input type="text" id="password" name="password" placeholder="Enter Password"></li>
            <li style="list-style: none;"><input type="text" id="password2" name="password2" placeholder="Re-enter Password"></li>
            </ul>
            <button type="register" id="register">Register</button>
            <p>Already an User? <a href="/login">Log in</a></p>
            <p>Login using the below</p>
            <p><a href="/auth/google"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/></a></p>
        </form>
    </body>
</html>