<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>itemOrder</title>
</head>
<body>
    <form action="/orderConfirm" method="post">
        <h2>Enter Details</h2>
        <input type="text" placeholder="Enter Your Name:" name="name"><br>
        <input type="text" placeholder="Enter Mobile Number" name="mobile_number"><br>
        <input type="text" placeholder="Enter Address:" name="address"><br>
        <input type="number" placeholder="Quantity" name="quantity"><br>
        <button type="submit">Confirm</button>
    </form>
</body>
</html>