<html>
    <head>
        <title>
            Mail
        </title>
    </head>
    <body>
        <form action="/mail" method="post">
            <input type="email" name="email" id="email">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>