<html>
    <head>
        <title>HTTP Video</title>
    </head>
    <body>
        <style>
            body {
                margin : 40px auto;
                max-width: 650px;
                background-color: #444;
            }
        </style>
        <video src="/videoplay"  type="video/mp4" width="650" controls muted="muted" autoplay ></video>
    </body>
</html>